* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column; 
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.05);
}

.result-side {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  padding: 40px;
  text-align: center;
  border-radius: 0 0 30px 30px;
}

.result-side h3 { color: hsl(241, 100%, 89%); font-weight: 500; margin-bottom: 25px; }

.circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 140px;
  height: 140px;
  margin: 0 auto 25px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle h1 { font-size: 50px; font-weight: 800; }
.circle p { opacity: 0.5; font-size: 14px; }

.result-side h2 { font-size: 28px; margin-bottom: 15px; }
.description { color: hsl(241, 100%, 89%); font-size: 18px; line-height: 1.3; }

.summary-side {
  padding: 40px;
  flex: 1;
}

.summary-side h3 { margin-bottom: 25px; color: hsl(224, 30%, 27%); }

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: 700;
}

.item-left { display: flex; gap: 10px; }
.score-text { color: hsl(224, 30%, 27%); }
.score-text span { opacity: 0.5; }

.btn {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: hsl(224, 30%, 27%);
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 600px) {
  .container { flex-direction: row; }
  .result-side { width: 50%; border-radius: 30px; }
  .summary-side { width: 50%; }

} 
